---
title: photo
layout: default1
---

{% include header1.html %}

<body>
	<div class="wrap">
		<div class="slider">
			<section>
				<article>
					<h1>xxx</h1>
					<h2>xxx</h2>
					<h3>2013.10.1</h3>
				</article>
				<img src="http://7xqmgj.com1.z0.glb.clouddn.com/2017-05-16-04098_redalert_1920x1080.jpg" >
			</section>
			<section>
				<article class="left">
					<form>
						<input type="text" placeholder="Form Test 表单测试"/>
					</form>
					<h1>传媒大学站</h1>
					<h2>798艺术区</h2>
					<h3>2013.10.1</h3>
				</article>
				<img src="http://7xqmgj.com1.z0.glb.clouddn.com/2017-05-16-04098_redalert_1920x1080.jpg" >
			</section>
			<section>
				<article>
					<h1>Digital Crystal</h1>
					<h2>xxx</h2>
					<h3>2013.10.1</h3>
				</article>
				<img src="http://o6ledomfy.bkt.clouddn.com/2017-05-11-ZZ000163-compressed%202.jpg" >
			</section>
			<section>
				<article class="left">
					<h1>xxx</h1>
					<h2>xxx</h2>
					<h3>2013.10.2</h3>
				</article>
				<img src="http://7xqmgj.com1.z0.glb.clouddn.com/2017-05-16-04098_redalert_1920x1080.jpg" >
			</section>
			<section>
				<article>
					<h1>xx</h1>
					<h2>xx</h2>
					<h3>2013.10.2</h3>
				</article>
				<img src="http://7xqmgj.com1.z0.glb.clouddn.com/2017-05-16-04098_redalert_1920x1080.jpg" >
			</section>
			<section>
				<article>
					<h1>xx</h1>
					<h2>xxxx</h2>
					<h3>2013.10.2</h3>
				</article>
				<img src="http://7xqmgj.com1.z0.glb.clouddn.com/2017-05-16-04098_redalert_1920x1080.jpg" >
			</section>
			<section>
				<article class="left">
					<h1>x</h1>
					<h2>xx</h2>
					<h3>2013.10.2</h3>
				</article>
				<img src="http://7xqmgj.com1.z0.glb.clouddn.com/2017-05-16-04098_redalert_1920x1080.jpg" >
			</section>
			<section>
				<article>
					<h1>xx</h1>
					<h2>xx</h2>
					<h3>2013.10.2</h3>
				</article>
				<img src="http://7xqmgj.com1.z0.glb.clouddn.com/2017-05-16-04098_redalert_1920x1080.jpg" >
			</section>
		</div>
	</div>
	<script type="text/javascript">
		$(".slider").HSlider();
	</script>
</body>

{% include footer.html %}