

    
    <script src="http://ofr27opkq.bkt.clouddn.com/head.min.js"></script>
		<script src="http://ofr27opkq.bkt.clouddn.com/reveal.js"></script>

		<script>
   			Reveal.initialize({
				history: true,

				
				dependencies: [
					{ src: 'http://ofr27opkq.bkt.clouddn.com/marked.js' },
					{ src: 'http://ofr27opkq.bkt.clouddn.com/markdown.js' },
					{ src: 'http://ofr27opkq.bkt.clouddn.com/notes.js', async: true },
					{ src: 'http://ofr27opkq.bkt.clouddn.com/highlight.js', async: true, callback: function() { hljs.initHighlightingOnLoad(); } }
				]
			});
		</script>