<!DOCTYPE html>
<html>
{% include head.html %}
<head>
	<meta charset="UTF-8">
	<title>HSlider | Demo</title>
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0" />
	<link rel="stylesheet" type="text/css" href="http://7xqmgj.com1.z0.glb.clouddn.com/reset.css">
	<link rel="stylesheet" type="text/css" href="http://7xqmgj.com1.z0.glb.clouddn.com/hsilder.css">
	<link rel="stylesheet" type="text/css" href="http://7xqmgj.com1.z0.glb.clouddn.com/default-style.css">
	<script type="text/javascript" src="http://7xqmgj.com1.z0.glb.clouddn.com/jquery-2.0.3.min.js"></script>
	<script type="text/javascript" src="http://7xqmgj.com1.z0.glb.clouddn.com/jquery.HSlider.min.js"></script>
</head>
<body>
{{ content }}
</body>
    <script src="https://cdn.staticfile.org/jquery/3.2.1/jquery.min.js"></script>
    <script src="{{ site.baseurl }}assets/js/prism.js"></script>
    <script src="{{ site.baseurl }}assets/js/index.min.js"></script>
</body>
</html>